$color: #2a2c2f;
$background-color: #fff;

body {
  background-color: $background-color;
  font-family: "Neucha", cursive;
  color: $color;
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: $background-color;
  top: 0;
  padding: 0 10px;
  border-bottom: 1px solid;
  box-sizing: border-box;
}
.logo {
  display: flex;
  cursor: pointer;
}
.header_logo {
  width: 1px;
  height: 1px;
  color: $background-color;
  font-size: 1px;
}
.header_logo_img {
  max-width: 150px;
  object-position: center;
  object-fit: cover;
}
.score {
  font-size: 1.4em;
  letter-spacing: 0.1em;
}
.header_btn {
  display: flex;
  flex-direction: column;
}
.form__button {
  box-sizing: border-box;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 5px 0;
  background-color: $background-color;
  color: $color;
  border: 3px $color solid;
  border-radius: 4px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  cursor: pointer;
}
.form__button:hover {
  transform: scale(1.1);
}
.header_burger {
  display: block;
  position: relative;
  z-index: 3;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
  transition: 0.3s ease-in;
}
.header_burger::before,
.header_burger::after {
  content: "";
  height: 4px;
  background-color: $color;
  position: absolute;
  width: 100%;
  left: 0;
}
.header_burger::before {
  top: 0;
  transition: 0.3s;
}
.header_burger::after {
  bottom: 0;
  transition: 0.3s;
}
.header_burger span {
  height: 3px;
  background-color: $color;
  position: absolute;
  width: 100%;
  left: 0;
  top: 23px;
  transition: 0.3s;
}
.navbar_container {
  display: none;
}
