$color: #2a2c2f;
$background-color: #fff;
ul {
  list-style-type: none;
}

body {
  background-color: $background-color;
  font-family: "Neucha", cursive;
  color: $color;
  padding: 0 20px;
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
}
.header,
.main,
.footer {
  display: flex;
  align-items: center;
  background-color: $background-color;
  box-sizing: border-box;
  padding: 0 10px;
}
.header {
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom: 1px solid;
  box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
}
.logo {
  display: flex;
  cursor: pointer;
}
.header_logo {
  width: 1px;
  height: 1px;
  color: $background-color;
  font-size: 1px;
}
.header_logo_img {
  max-width: 150px;
  object-position: center;
  object-fit: cover;
}
.score {
  font-size: 1.4em;
  letter-spacing: 0.1em;
}
.header_btn {
  display: flex;
  flex-direction: column;
}
.form__button {
  box-sizing: border-box;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 5px 0;
  background-color: $background-color;
  color: $color;
  border: 3px $color solid;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.2);
  cursor: pointer;
}
.form__button:hover {
  transform: scale(1.1);
}
.header_burger {
  display: block;
  position: relative;
  z-index: 3;
  width: 50px;
  height: 50px;
  margin-right: 50px;
  margin-left: 10px;
  transition: 0.3s ease-in;
}
.header_burger::before,
.header_burger::after {
  content: "";
  height: 4px;
  background-color: $color;
  position: absolute;
  width: 100%;
  left: 0;
}
.header_burger::before {
  top: 0;
  transition: 0.3s;
}
.header_burger::after {
  bottom: 0;
  transition: 0.3s;
}
.header_burger span {
  height: 4px;
  background-color: $color;
  position: absolute;
  width: 100%;
  left: 0;
  top: 23px;
  transition: 0.3s;
}
.navbar_container {
  display: none;
}
.main {
  flex-direction: column;
}
.description__text {
  padding-left: 20px;
}
img {
  max-width: 100%;
}
.questions {
  max-width: 100%;
}
.puzzle__number {
  text-align: center;
}
.form {
  max-width: 100%;
  margin: 0 0 30px;
  padding: 0;
}
.form__label {
  display: block;
  font-size: 1em;
  font-weight: 700;
  margin: 20px 0 10px;
}
.form__field {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  margin: 0 0 15px;
  padding: 2px 4px;
  color: black;
}
.form__button-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 20px;
}
.wrong-answer-board,
.correct-answer-board,
.hint-board {
  background-color: $background-color;
  border-radius: 3px;
  padding: 4px 6px;
  box-sizing: border-box;
  display: none;
}
.wrong-answer-board {
  box-shadow: 0 0 8px rgb(230, 0, 0);
}
.correct-answer-board {
  box-shadow: 0 0 8px rgb(0, 230, 0);
}
.hint-board {
  box-shadow: 0 0 8px rgb(230, 230, 0);
}
.puzzle__help {
  // display: flex;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.puzzle__video-description {
  text-transform: uppercase;
  margin: 15px 0 10px;
  font-weight: 700;
}
.img_video,
.puzzle__image {
  max-height: 202px;
  margin: 0 auto;
  display: block;
}
.img_video:hover {
  cursor: pointer;
  max-height: 202px;
}
.puzzle__video {
  display: none;
  max-height: 202px;
}
.footer {
  flex-direction: column;
}
.footer__link {
  color: $color;
  text-decoration: none;
  font-size: 1em;
  line-height: 1;
  display: flex;
}
.footer__link {
  margin: 0 10px;
}
.footer__link:hover {
  text-decoration: none;
  color: rgb(121, 121, 115);
}
.footer__links-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0px 0px 5px 0px;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  align-self: center;
}
.popup {
  display: none;
}

@media (max-width: 768px) {
  .header_logo_img {
    max-width: 50px;
  }
  .score {
    font-size: 0.6em;
  }
  .form__button {
    font-size: 0.6em;
    border: 1px #2a2c2f solid;
  }
  .header_burger {
    width: 30px;
    height: 23px;
    margin-right: 10px;
  }
  .header_burger::before,
  .header_burger::after {
    content: "";
    height: 1px;
  }
  .header_burger span {
    height: 1px;
    top: 10px;
  }
  .footer__heading {
    font-size: 0.8em;
  }
  .footer__link {
    margin: 0 4px;
    font-size: 0.8em;
  }
}
